
<div class="row">
    <div class="col-md-6">
        <h1 class="view-title">Employees</h1>
    </div>
    <div class="col-md-4">
        <input type="text" placeholder="Search for employee..">
        <button ng-click="search(person)">Search</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default" ng-click="add()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <table id="tk-table" class="table">
            <thead id="left">
            <tr>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="left">
            <tr ng-repeat="person in people">
                <td>{{person.fullName}}</td>
                <td>{{person.email}}</td>
                <td>{{person.phone}}</td>
                <td ><a href="" ng-click="edit(person)">Edit</a> | <a href="" ng-click="view(person)">View</a> | <a href="" ng-click="delete(person)">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4" style="float: right">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

