
<div class="row">
    <div class="col-md-6">
        <h1>Employees</h1>
    </div>
    <div class="col-md-4">
        <input type="text" placeholder="Search for employee.." ng-model="filter" />
        <button ng-click="search(filter)"><span class="glyphicon glyphicon-search"></span></button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-default" ng-click="add()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" >
            <thead>
            <tr >
                <th>Employee Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody ng-repeat="person in people">
            <tr>
                <td>{{person.fullName}}</td>
                <td>{{person.email}}</td>
                <td>{{person.phone}}</td>
                <td><a href="" ng-click="view(person)"><spa class="glyphicon glyphicon-eye-open"></spa></a>
                    | <a href="" ng-click="edit(person)"><spa class="glyphicon glyphicon-pencil"></spa></a>
                    | <a href="" ng-click="clickwar(person)"><spa class="glyphicon glyphicon-trash"></spa></a></td>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4" style="float: right">
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>

</div>

