
<div class="row">
    <div class="col-md-6">
        <h1 class="view-title">Employees</h1>
    </div>
    <div class="col-md-4">
        <input type="text" placeholder="Search for employee.." ng-model="filter" />
        <button ng-click="search(filter)"><span class="glyphicon glyphicon-search"></span></button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-default" ng-click="add()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <table id="tk-table" class="table">
            <thead id="left">
            <tr>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="left">
            <tr ng-repeat="person in people">
                <td>{{person.fullName}}</td>
                <td>{{person.email}}</td>
                <td>{{person.phone}}</td>
                <td > <a href="" ng-click="view(person)"><i class="glyphicon glyphicon-eye-open"></i></a> | <a href="" ng-click="edit(person)"><i class="glyphicon glyphicon-pencil"></i></a> |<a href="" ng-click="delete(person)"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-4" style="float: right">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
        </div>
    </div>
    <div class="col-md-4" style="float: right">
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
    </div>
</div>

