<div class="custFrame">
    <img class="custImage" ng-src="images/{{data.image || 'default_customer.png'}}">
    <div class="custData">
        <span class="custTitle">{{data.name}}</span><br>
        {{data.contact}}<br>
        {{data.phone}}
    </div>
    <div class="clearfix"></div>
    <div class="custNav">
        <a href="" ng-click="edit(data)"><i class="glyphicon glyphicon-pencil"></i></a>
        <a href="" ng-click="clickwar(data)"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
</div>