/* ------------------------------------------------------------ */

/* BASIC */

/* ------------------------------------------------------------ */

body {
    font-family: Verdana, sans-serif;
    font-size: 11pt;
    margin: 0;
    padding-top: 50px;

    background-image: url("img/Web 1920 – 1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    position: relative;

}

header, footer {
    /*position: fixed;*/
    color: white;
    background-color: #001525;
    width: 100%;
    z-index: 999;
    text-align: center;
}

header {
    top: 0;
}

footer {
    bottom: 0;
    /*position: fixed;*/
}

hr {
    border: 0;
    margin: 12px 0;
    height: 3px;
    background-color: #eee;
    opacity: 0.5;
}

.hr-modal {
    border-top: 2px solid #001F36;
}

h1{
    color: #fff!important;
}

.grid {
    background-color: #001F36;
}

.grid:nth-child(odd) {
    background-color: #001F36;
}

.label {
    text-align: right;
    padding: 8px;
    color: black!important;
}

/* ------------------------------------------------------------ */

/* NAVIGATION */

/* ------------------------------------------------------------ */

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    background-color: #0063ad;
}

.navbar-header a {
    color: #fff!important;
}

.navbar-default .navbar-nav #user-profile {
    height: 50px;
    padding-top: 15px;
    padding-left: 58px;
}

.navbar-default .navbar-nav #user-profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 2px;
    left: 8px;
    padding: 1px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 225px;
    }
}

@media (min-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
}

#sidebar-wrapper {
    /*border-right: 1px solid #e7e7e7;*/
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #001525;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #428bca;
}

.sidebar-nav li:first-child a {
    background: #92bce0 !important;
    color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
    position: absolute;
    right: 23px;
    top: auto;
    margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: -45px;
        z-index: 1000;
        width: 200px;
        height: 0;
    }
}

.sidebar-nav li:first-child a {
    background: #00599c !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(2) a {
    background: #00508b !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(3) a {
    background: #00467a !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(4) a {
    background: #003c69 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(5) a {
    background: #003258 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(6) a {
    background: #002947 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(7) a {
    background: #001f36 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(8) a {
    background: #001525 !important;
    color: #fff !important;
}


/* ------------------------------------------------------------ */

/* CUSTOMERS WIDGET */

/* ------------------------------------------------------------ */

.custFrame {
    display: table;
    float: left;
    margin: 6px;
    padding: 8px;
    border: solid #001F36 2px;
    background-color: #fff;
}

.custImage {
    width: 120px;
    float: left;
    margin: 0 12px;
}

.custData {
    float: left;
}

.custTitle {
    font-size: 1.2em;
}

.custNav {
    float: right;
}

/* ------------------------------------------------------------ */

/* MODAL */

/* ------------------------------------------------------------ */

.modal-header {
    background-color: #001F36;
    color: white;
    border: solid 1px #001F36;
}

.modal-footer {
    background-color: #001F36;
    border: solid 1px #001F36;
}


/* ------------------------------------------------------------ */

/* CALENDAR */

/* ------------------------------------------------------------ */

.calendar {
    width: 574px;
}

.day {
    float:left;
    width:72px;
    height:72px;
    border: 1px solid black;
    padding: 4px;
    margin: 4px;
    color: white;
}

.spaceholder {
    background-color: transparent;
    border: 0;
}

.dayhours {
    float: right;
    font-size: 2.5em;
}

.day .empty {
    color: black;
}

.weekend {
    background-color: red;
}
.future {
    background-color: lightgray;
}
.empty {
    background-color: white;
}
.workingday {
    background-color: green;
}
.publicholiday {
    background-color: darkred;
}
.otherabsence {
    background-color: black;
}
.religiousday {
    background-color: lightblue;
}
.sickleave {
    background-color: darkgreen;
}
.vacation {
    background-color: orange;
}
.businessabsence {
    background-color: darkgray;
}


/* ------------------------------------------------------------ */

/* TABLE */

/* ------------------------------------------------------------ */


.table {
    margin-top: 25px;
    background-color: #fff;
}

/* ------------------------------------------------------------ */

/* SEARCH AND ADD BUTTON */

/* ------------------------------------------------------------ */

.src-add {
    width: 96%;
    margin-top: 25px;
}

/* ------------------------------------------------------------ */

/* TEAMS WIDGET AND MODAL PITURE*/

/* ------------------------------------------------------------ */

.teaFrame {
    display: table;
    float: left;
    margin: 6px;
    padding: 8px;
    border: solid #001F36 2px;
    width: 300px;
    height: 100px;
    background-color: #fff;
}

.teaImage {
    max-width: 18%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.teaData {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}

.teaTitle {
    font-size: 1.2em;
}

.teaNav {
    float: right;
}

.tmProfImg {
    width: 75%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.teamPag{
    font-size: 50px;
    margin-top: 25px;
}

/*.tmProfImg {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 15%;
    opacity: .25;
}*/

/* ------------------------------------------------------------ */

/* LOADER */

/* ------------------------------------------------------------ */

#loader {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    opacity: .75;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border: 20px solid #f3f3f3;
    border-top: 20px solid #001F36;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}



/*--------------------------------------------------------------------------------------*/

