<a href="" ng-click="view(data)">
<div class="col-md-4">
<div class="teaFrame">
    <div><img class="teaImage" ng-src="images/{{data.image}}.jpg"></div>
    <div class="teaData">
        <span class="teaTitle">{{data.name}}</span>
        <br>
        {{data.id}}
        <br>
    </div>

    <div class="clearfix"></div>
    <div class="teaNav">
        <a href="" ng-click="edit(data)"><i class="glyphicon glyphicon-pencil"></i></a>
        <a href="" ng-click="clickwar(data)"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
</div>
</div>
</a>

