<div class="modal-header">
    <div class="col-md-6"><h1>New Team</h1></div>
</div>
<br>
<form name="teamForm" novalidate>
    <div class="modal-body">
        <input type="hidden" ng-model="team.id">
        <div class="new-team">
            <div class="row">
                <div class="col-md-4 label">Team Name:</div>
                <div class="col-md-6"><input type="text" class="form-control" ng-model="team.name"></div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Team image:</div>
                <div class="col-md-6"><input type="text" class="form-control" ng-model="team.image"></div>
            </div>
            <div class="row">
                <div class="col-md-4 label">Description:</div>
                <div class="col-md-6"><input type="text" class="form-control" name="teamDesc" ng-model="team.description" required></div>
                <span style="color:red" ng-show="teamForm.teamDesc.$dirty && teamForm.teamDesc.$invalid">
                    <span ng-show="teamForm.teamDesc.$error.required" style="font-size: 30px;">*</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Description:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="team.description"></div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="teamForm.$valid && saveNew(team)">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>