<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Role in the Team</h3>
</div>
<form name="roleInteamForm" novalidate>
    <div class="modal-body">
        <div class="new-roleInteam">
            <div class="row">
                <div class="col-md-3 label">Id</div>
                <div class="col-md-6"><input type="text" name="roleInteamId" class="form-control" ng-model=".roleinTeam" required></div>
                <span style="color:red" ng-show="roleInteamForm.roleInteamId.$dirty && roleInteamForm.roleInteamId.$invalid">
                <span ng-show="roleInteamForm.roleInteamId.$error.required" style="font-size:30px;"> * </span>
            </span>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 label">Name</div>
                <div class="col-md-6"><input type="text" name="roleInteamName" class="form-control" ng-model=".roleinTeam" required></div>
                <span style="color:red" ng-show="roleInteamForm.roleInteamName.$dirty && roleInteamForm.roleInteamName.$invalid">
                <span ng-show="roleInteamForm.roleInteamName.$error.required" style="font-size:30px;"> * </span>
            </span>
            </div>
            <div class="row">
                <div class="col-md-3 label">Hourly rate</div>
                <div class="col-md-6"><input type="text" name="roleInteamName" class="form-control" ng-model=".roleinTeam" required></div>
                <span style="color:red" ng-show="roleInteamForm.roleInteamName.$dirty && roleInteamForm.roleInteamName.$invalid">
                <span ng-show="roleInteamForm.roleInteamName.$error.required" style="font-size:30px;"> * </span>
            </span>
            </div>
            <div class="row">
                <div class="col-md-3 label">Monthly rate</div>
                <div class="col-md-6"><input type="text" name="roleInteamName" class="form-control" ng-model=".roleinTeam" required></div>
                <span style="color:red" ng-show="roleInteamForm.roleInteamName.$dirty && roleInteamForm.roleInteamName.$invalid">
                <span ng-show="roleInteamForm.roleInteamName.$error.required" style="font-size:30px;"> * </span>
            </span>
            </div>
            <div class="modal-footer">
                <div class="col-md-5 label"><button class="btn btn-success" type="button" ng-click="jobTitleForm.$valid && saveNew(jobTitle)">Save</button></div>
                <div class="col-md-1 label"><button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button></div>
            </div>
        </div>
    </div>
</form>
