<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New Project</h3>
</div>

<div class="modal-body" id="modal-body">
    <input type="hidden" ng-model="project.id">
    <div class="row">
        <div class="col-md-4 label">Project Name:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.name"></div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Project Monogram:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.monogram"></div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Customer Name:</div>
        <div class="col-md-6">
            <select ng-model="project.customer.id" class="form-control"
                    ng-options="customer.id as customer.name for customer in customers"
                    ng-value="customer.id">{{customer.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Team:</div>
        <div class="col-md-6">
            <select ng-model="project.team.id" class="form-control"
                    ng-options="team.id as team.name for team in teams"
                    ng-value="team.id">{{team.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Amount:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.amount"></div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Description:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.description"></div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Status:</div>
        <div class="col-md-6">
            <select ng-model="project.status" class="form-control"
                    ng-options="status.value as status.text for status in projectStatus"
                    ng-value="status.value">{{status.text}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Pricing:</div>
        <div class="col-md-6">
            <select ng-model="project.pricing" class="form-control"
                    ng-options="pricing.value as pricing.text for pricing in projectPricing"
                    ng-value="pricing.value">{{pricing.text}}</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="saveNew(project)">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>






