<h1>Projects</h1>
<h2>{{message}}</h2>

<div class="row">
    <div class="col-md-12 ng-scope" ng-controller="projectsController">
        <table class="table table-bordered">
            <thead>
            <tr >
                <th>Project Name</th>
                <th>Customer Name</th>
                <th>Team Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody ng-repeat="project in projects">
            <tr>
                <td>{{project.name}}</td>
                <td>{{project.customer}}</td>
                <td>{{project.team}}</td>
                <td>{{project.status}}</td>
                <td ng-controller="projController">
                    <a href="" ng-click="edit(project)"><i class="glyphicon-pencil"></i></a>
                    <a href="" ng-click="delete(project)"><i class="glyphicon-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>