<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{project.name}}</h3>
</div>

<div class="modal-body" id="modal-body">
    <input type="hidden" ng-model="project.id">
    <div class="row">
        <div class="col-md-4 label">Project Name:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.name" required></div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Project Monogram:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.monogram"></div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Customer Name:</div>
        <div class="col-md-6">
            <select ng-model="project.customer.id" class="form-control"
                    ng-options="customer.id as customer.name for customer in customers"
                    ng-value="customer.id">{{customer.name}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Team:</div>
        <div class="col-md-6">
            <select ng-model="project.team.id" class="form-control"
                    ng-options="team.id as team.name for team in teams"
                    ng-value="team.id">{{team.name}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Amount:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.amount"></div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Start Date:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.startDate"></div>
    </div>
    <div class="row">
        <div class="col-md-4 label" ng-if="project.status >= 3">End Date:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.endDate" ng-if="project.status >= 3"></div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Description:</div>
        <div class="col-md-6"><input type="text" class="form-control" ng-model="project.description"></div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Status:</div>
        <div class="col-md-6">
            <select class="form-control" ng-model="project.status"
                    ng-options="item.value as item.text for item in projectStatus"
                    ng-value="item.value">{{item.text}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 label">Pricing:</div>
        <div class="col-md-6">
            <select ng-model="project.pricing" class="form-control"
                    ng-options="item.value as item.text for item in projectPricing"
                    ng-value="item.value">{{item.text}}</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="save(project)">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>